body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-image: url("/src/img/white\ back.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  align-items: center;
}

.visually-hidden:not(:focus):not(:active),
input[type="chekbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  height: 55px;
  padding: 0 40px;
}
.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: transparent
}
.main-header-logo {
  position: absolute;
  width: 140px;
  height: 71px;
}
.main-navigation-wrapper {
  width: 100%;
  height: 55px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}
.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-navigation a {
  display: block;
  padding: 22px 74px;
  color: #000000;
}
.right-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.right-navigation a {
  display: block;
  padding: 22px 74px;
  color: #000000;
}

.site-navigation a:hover,
.right-navigation a:hover {
  color: #81b3d2;
  transition: 0.3s;
}
.site-navigation a:active,
.right-navigation a:active {
  color: #c7c7c7;
}

.preview {
  background-image: url("/src/img/bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  margin-bottom: 50px;
  padding: 720px 72px 0;
}
.preview-welcome {
  max-width: 600px;
  margin: -85px auto 17px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}
.preview-description {
  margin-top: 17px;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.index-columns-1 {
  width: 1200px;
  margin: 82px auto 0 auto;
  grid-template-columns: 400px 800px;
  grid-template-rows: repeat(1, 255px);
  display: grid
}
.benefits {
  padding: 10px 60px;
  width: 280px;
  background-color: #81b3d2;
}
.benefits-title {
  margin-top: 50px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.benefits-subtitle {
  margin-top: 15px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.benefits-item {
  margin-top: 30px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.town {
  margin-top: 0;
  width: 100%;
  height: 255px;
  background-image: url("/src/img/town.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.index-columns-2 {
  width: 1200px;
  margin: 60px auto 0 auto;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(1, 270px);
  display: grid
}
.content-icon-home {
  padding: 10px 55px;
  width: 280px;
}
.content-title {
  margin-top: 30px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}
.content-subtitle {
  margin-top: 30px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}
.content-icon-eat {
  padding: 10px 55px;
  width: 300px;
}
.content-icon-souvenir {
  padding: 5px 55px;
  width: 300px;
}

.index-columns-3 {
  width: 1200px;
  margin: 10px auto 0 auto;
  grid-template-columns: 800px 400px;
  grid-template-rows: repeat(1, 255px);
  display: grid
}
.bridge {
  margin-top: 0;
  width: 100%;
  height: 255px;
  background-image: url("/src/img/bridge.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.index-columns-4 {
  width: 1200px;
  margin: 0 auto 0 auto;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(1, 255px);
  display: grid
}
.attraction {
  padding: 10px 60px;
  width: 280px;
  background-color: #eeeeee;
}
.attraction-title {
  margin-top: 50px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}
.attraction-subtitle {
  margin-top: 15px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}
.attraction-item {
  margin-top: 30px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.serch {
  max-width: 570px;
  margin: 60px auto 0px;
}
.serch-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}
.serch-subtitle {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
button {
  display: inline-block;
  padding: 30px 140px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  cursor: pointer;
}
.serch-btn {
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-right: 0;
}
button:hover {
  background-color: #604e44;
  transition: 0.3s;
}
button:active {
  background-color: #503e32;
  color: #978f82;
}

.main-footer {
  display: grid;
  width: 1200px;
  margin: 0 auto 0 auto;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(1, 120px);
  /* display: flex;
  justify-content: space-between;
  height: 45px;
  padding: 35px 0px;
  margin: -120px auto 0px; */
  color: #000000;
  opacity: 0.8;
  background-color: #ffffff
}
.main-footer .container {
  display: flex;
  justify-content: space-between;
}
.footer-contacts {
  width: 250px;
  margin: 0 120px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
/* .footer-social {
  width: 200px;
  height: 50px;
  text-align: center;
} */
.footer-social {
  display: grid;
  width: 1200px;
  margin: 0 auto 0 auto;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(1, 120px);
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 200px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  padding: 0; */
  list-style: none;
}
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  margin-bottom: 10px;
  background-color: #81b3d2;
}
.social-button:hover {
  background-color: #669ec0;
}
.social-button:active {
  background-color: #5496bd;
}
.social-button:active path {
  fill: #88b6d1;
}
.footer-copyright {
  display: grid;
  width: 1200px;
  margin: 0 auto 0 auto;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(1, 120px);
  /* display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 0;
  margin-left: auto; */
  text-align: center;
}